*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: gray;
}
/* macroblocco superiore */
#wrapper {
    height: calc(100vh - 90px);
    display: flex;
   
  }
/* colonna navigazione sinistra */
#wrapper nav {
    width: 250px;
    height: 100%;
    background-color: black;
    /* DEBUG */
    /* background-color: rgb(194, 243, 20);
    border: 1px dashed black; */
}

 nav {
    display: flex;
    flex-direction: column;
   
 }
nav div {
    /* DEBUG */
    /* background-color: rgb(194, 215, 8);
    border: 1px dashed black; */
}
#logo{
    max-width: 80%;
    margin: 5% 2%;
}
.icone-nav{
    max-width: 30px;
    margin: 1px 20px;
}
nav ul {
    list-style: none;
    margin-top: 6%;
    line-height: 30px;
}

nav section{
    margin-left: 6%;
    margin-bottom: 2%;
}

hr{
    width: 85%;
    margin: 3% auto;
}
#downloadimg {
    max-width: 30px;
    margin: -6px 20px;
}
#downloadimg {
    max-width: 30px;
    margin: -6px 20px;
}
#profileimg {
    
        max-width: 30px;
        margin: 1px 20px;
        background-color: gray;  
        border-radius: 50%;  
}

/* nav blocco inferiore */
.nav-down{
    /* min-height: calc(100% - 145px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex-grow: 1;

}
.nav-down ul {
    margin-left: 7%;
}
#playlist-title {
    font-weight: bold;
    color: white;
}
.fa-square-plus {
    font-size: 35px;
    margin-right: 2px;
}

/* macrosezione destra*/
#wrapper main {
    height: 100%;
    width: calc(100% - 250px);
    overflow: auto;
    /* DEBUG */
    background-color: limegreen;
    border: 1px dashed black;
}
/* intestazione sticky */
.upgrade {
    height: 80px; 
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    z-index: 400;
    top: 0;
    right: 0;
}
/* macrosezione overflow */

/* selezioni */
#selezioni {
    width: 55%;
    margin: 10px auto;
    /* DEBUG */
    background-color: rgb(218, 108, 12);
    border: 1px dashed black;
}
/* macroblocco con playlist */
.playlist-container {
    width: 90%;
    margin: 0 auto;
    /* DEBUG */
    height: 2100px;
    background-color: lightcyan;
    border: 1px dashed black;
}
 /* regole generali sezioni playlist */
.playlist {
    display: flex;
    flex-wrap: wrap;
        /* DEBUG */
     margin: 10px 0;

     height: 500px;
     background-color: rgb(179, 52, 145);
     border: 1px dashed black;
}
.recently {
    justify-content: space-between;
}
.doe div,.popolari div{
    margin-right: 2%;
}
/* regole generali riquadri playlist */
.playlist div {
    width: 15%;
    /* DEBUG */
    background-color: yellow;
    border: 1px dashed black;
    height: 130px;
   
}

/* player/controller */

#player {
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    background-color: rgb(227, 35, 35);
    border: 1px dashed black;
}
#player div {
    width: 17%;
  /* DEBUG */
  background-color: rgb(17, 104, 204);
    border: 1px dashed black;
}
.tastieraplayer {
   flex-basis: 38%;
}
/* regole modalità md (878px) */

@media screen and (max-width:878px) {
    
    #selezioni{
        width: 83%;
    }
    .playlist div {
        background-color: red;
        width: 24%;
    }
}
/* regole modalità s (639) */

@media screen and (max-width:639px) {
   
    .playlist div {
        background-color: rgb(66, 224, 18);
        width: 47%;
    }
}

/* regole modalità xs (552) */

@media screen and (max-width:552px){

    #wrapper nav {
        width: 50px;}
     #wrapper main {
        height: 100%;
         width: calc(100% - 50px);}
}
