*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: gray;
    font-family: sans-serif;

}
h2 , h3 , h4{
    color: white;
    font-weight: bold;
    margin: 2% 0;

}
h2 {
}
/* macroblocco superiore */
#wrapper {
    height: calc(100vh - 110px);
    display: flex;
   
  }
/* colonna navigazione sinistra */
/* blocco superiore */
#wrapper nav {
    width: 250px;
    height: 100%;
    background-color: black;
}

 nav {
    display: flex;
    flex-direction: column;
   
 }

.nav-up li:active {
    color: rgb(255, 255, 255);
    border-left: 3px solid greenyellow;
  }

#logo{
    max-width: 80%;
    margin: 5% 2%;
}
.xs-appear {
    display: none;
}
nav ul {
    list-style: none;
    margin-top: 6%;
    line-height: 30px;
}
.icone-nav{
    max-width: 30px;
    margin: 1px 20px;
    vertical-align: middle;
}



/* nav blocco inferiore */
/* regole generali */
.nav-down{
    /* min-height: calc(100% - 145px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


nav section{
    margin-left: 6%;
    margin-bottom: 4%;
}

hr{
    width: 85%;
    margin: 5% auto;
}

.nav-down ul {
    margin-left: 7%;
}
#playlist-title {
    font-weight: bold;
    color: white;
}
.fa-square-plus {
    font-size: 35px;
    margin-right: 2px;
}
/* regole footer del nav */
.nav-down section{
 margin-left: 0;
}
#downloadimg {
    max-width: 30px;
    margin: -6px 20px;
}
#profileimg {
        max-width: 30px;
        margin: -4px 20px;
        background-color: gray;  
        border-radius: 50%;  
}
.john {
    color: white;
}


/* macrosezione destra*/
#wrapper main {
    width: calc(100% - 250px);
    overflow: auto;
    background-color: rgba(20,25,34,255);
}
/* intestazione sticky */
.upgrade {
    height: 80px; 
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    z-index: 400;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.upgrade div{
    margin-top: 30px;
    margin-right: 15px;
   
}
.upgrade span {
    background-color: rgb(0, 0, 0);
    border-radius: 9999px;
    border: 3px solid white;
    padding: 10px 16px;
    font-size: 14px;
    color: white;
}
/* macrosezione overflow */

/* selezioni */
#selezioni {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 3%;
}
#selezioni span:active {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid greenyellow;
  }

/* macroblocco con playlist */
.playlist-container {
    width: 90%;
    margin: 0 auto;
}
 /* regole generali sezioni playlist */
.playlist {
    display: flex;
    flex-wrap: wrap;
        /* DEBUG */
     margin: 10px 0;

}
.playlist i {
    display: none;
    font-size: 54px;
    color: white;
}

.playlist img {
    max-width: 100%;
    margin: 0 auto;
}


.undertitle{
    font-size: 15px;
}
.playlist section{
    text-align: center;
}


.doe div,.popolari div{
    margin-right: 2%;
}
/* regole generali riquadri playlist */
.playlist div {
    width: 15%;
    position: relative;
    margin-right: 1%;
}

/* player/controller */

#player {
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(40,40,40);
    z-index: 300;

}
.lateral {
    width: 17%;
    display: flex;
    justify-content: space-between;
}

.lateral div{
    display: flex;
}
.playersection img {
    max-width: 50%;
    margin: 4% 3%;
}
.playersection section {
    align-self: center;
}

.playersection i{
    align-self: center;
    margin-right: 6px;
}
/* regole sezione centrale del player */
.tastieraplayer {
    flex-basis: 38%;
    margin-top: 1%;
 }
 .tastieraplayer div {
    display: flex;
    align-items: center;
    color: white;
 }
 #icone-centrali {
    justify-content: center;
    font-size: 23px;
    gap: 2%;
    
 }
 .fa-circle-play{
    font-size: 34px;
 }
 .tastieraplayer :first-child {
    justify-content: space-evenly;
 }
 /* regole sezione destra del palyer */
.destra {
    width: 13%;
    justify-content: space-around;
    color: white;
}
/* REGOLE HOVER */
/* hover su immagini playlist */
.playlist div:hover i{
    position: absolute;
    display: block;
    top: 21%;
    right: 35%;
}
/* hover bianco su contenuti testuali */
.disappear:hover, #selezioni span:hover, .lateral span:hover, .lateral i:hover {
    color: white;
}
/* hover upgrade */
.upgrade span:hover {
    border: 3px solid white;
    padding: 16px 20px;
} 
/* hover tasti centrali player */
.tastieraplayer .fa-circle-play:hover {
    font-size: 44px;
}

/* regole modalità md (878px) */

@media screen and (max-width:878px) {

    /* regole selezioni */
    #selezioni {
        
        margin: 10px auto;
        flex-wrap: wrap;
        gap: 2%;
        
    }
    /* regole playlist */
    .playlist div {
        width: 24%;
    }
    /* regole player */
    .lateral {
        width: 28%;
    }
    
}
/* regole modalità s (639) */

@media screen and (max-width:639px) {
   
    .playlist div {
        width: 47%;
    }
    .personal-icon {
        flex-direction: column;
        justify-content: center;
        gap: 10%;
    }
}

/* regole modalità xs (552) */

@media screen and (max-width:552px){

    #wrapper nav {
        width: 50px;}
     #wrapper main {
        height: 100%;
         width: calc(100% - 50px);}
      #selezioni {
         gap: 4%;
        }
    .disappear {
        display: none;
    }
    .xs-appear {
        display: block;
        max-width: 70%;
        margin: 10% 10%;
    }
    .icone-nav , #profileimg {
        min-width: 60%;
        margin-left: 16%;
        margin-top: 8%;
    }
    #downloadimg {
        min-width: 17px;
        margin-left: 25%;
        margin-bottom: 8%;
    }
      
}
